@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800|PT+Sans:400,400i&display=swap&subset=cyrillic');

.container {
  margin: 0 auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
.container__divider {
  border: 0;
  border-top: 16px solid rgba(76, 166, 222, 0.1);
  margin-bottom: 48px;
  margin-top: 48px;
  width: 100%;
}

.sect {
  box-sizing: border-box;
  margin: 0 auto;
  /*padding: 0 32px;*/
  width: 100%;
}
.sect__header {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
  /*margin-bottom: 16px;*/
}
.sect__content__paragraph {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 1.50;
}

/* Контакты в верху страницы */
.topcontacts {
  box-sizing: border-box;
  padding: 12px 32px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.topcontacts__contact {
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
}
.topcontacts__contact,
.topcontacts__link{
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  text-shadow: 0px 0px 4px #222;
}
.topcontacts__link {
  text-decoration: none;
}
.topcontacts__icon,
.topcontacts__text {
  display: inline-block;
}
.topcontacts__icon {
  font-size: 14px;
  margin-right: 5px;
  vertical-align: baseline;
}




/* Картинка и аватар */
.welcome {
  background-attachment: fixed;
  background-color: #409dd7;
  background-image: url('../img/welcome.jpg');
  background-position-x: center;
  background-repeat: no-repeat;
  height: 320px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
.welcome__darkness {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
}
.welcome__experience,
.welcome__work {
  color: #fff;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.welcome__experience {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.0;
  padding-top: 64px;
}
.welcome__work{
  font-size: 32px;
  font-weight: 400;
}
.welcome__slogan {
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-style: italic;
  padding-top: 32px;
  text-align: center;
}
.welcome__avatar {
  position: absolute;
  text-align: center;
  width: 100%;
}
.welcome__avatar__image {
  height: 196px;
}

/* Лого и контакты */
.header {
  box-sizing: content-box;
  margin-top: 32px;
  margin-bottom: 80px;
}
.header__container {
  padding-bottom: 16px;
}
.header__whoami {
  float: left;
  position: relative;
  width: 300px;
}
.header__contacts {
  box-sizing: border-box;
  float: right;
  padding: 0 0 0 32px;
  position: relative;
  width: 400px;
}
.header__container:after {
  clear: both;
  content: "";
  display: table;
}
.header__whoami__name,
.header__whoami__description {
  position: absolute;
}
.header__whoami__description {
  color: #333;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.10em;
  margin-left: 4px;
  top: -4px;
}
.header__whoami__name {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 0.9;
  top: 16px;
}
.header__whoami__homelink {
  color: #101010;
  text-decoration: none;
}

.header__contacts__callme {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-bottom: 16px;
  margin-top: 8px;
  text-align: center;
}
.header__contacts__icons {
  text-align: center;
}
.header__contacts__icons__iconlink {
  color: #409dd7;
}
.header__contacts__icons__icon {
  display: inline-block;
  font-size: 32px;
  margin-left: 16px;
  margin-right: 16px;
}
.header__divider {
  border-top: 3px solid #dcdcdc;
  margin-bottom: 32px;
  margin-top: 16px;
}

/* Услуги */
/*.services__header {*/
/*  font-family: 'Open Sans', sans-serif;*/
/*  font-size: 24px;*/
/*  font-weight: 700;*/
/*  letter-spacing: -0.05em;*/
/*  margin: 0;*/
/*  margin-bottom: 16px;*/
/*}*/
.services__list {
  list-style: none;
  padding-left: 0;
  width: 100%;
}
.services__listitem {
  margin-bottom: 16px;
}
.services__card {
  border: 2px solid #dcdcdc;
  border-radius: 5px;
  box-sizing: border-box;
  display: table;
  font-family: "Open Sans", sans-serif;
  padding: 16px;
  position: relative;
  width: 100%;
}
.services__card:after {
  content: "";
  display: table;
  clear: both;
}
.services__card__icon {
  display: table-cell;
  position: relative;
}
.services__card__icon,
.services__card__icon__image {
  height: 48px;
  width: 48px;
}
.services__card__text {
  display: table-cell;
  padding-left: 24px;
  vertical-align: middle;
}
.services__card__header {
  color: #101010;
  font-size: 18px;
  font-weight: 500;
}
.services__card__description {
  color: #999;
  font-size: 14px;
  margin-top: 4px;
}

/* Получить консультацию */
.callback__content {
  padding: 0 64px;
}
.callback__header {
  font-family: 'Helvetica', sans-serif;
  font-kerning: auto;
  font-size: 24px;
  font-weight: 800;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.callback__description {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  margin-top: 8px;
  text-align: left;
}
.callback__paragraph_for_textbox:first-of-type {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 8px;
}
.callback__paragraph_for_textbox:last-of-type {
  margin: 0;
  margin-bottom: 16px;
}
.callback__textbox {
  border: 2px solid #101010;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  height: 38px;
  outline: none;
  text-align: center;
  width: 100%;
}
.callback__textbox:focus {
  border: 2px solid #4ca6de;
}
.callback__buttons__button_submit {
  background-color: #4ca6de;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  height: 38px;
  letter-spacing: 0.01em;
  outline: none;
  text-transform: uppercase;
  width: 100%;
}

/* Футер */
.footer {
  background-color: #101010;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.50;
  margin-top: 64px;
  padding: 24px 0;
  text-align: center;
}
.footer__copyright {
  margin-bottom: 8px;
}
.footer__contact {
  display: inline-block;
  margin-left: 16px;
}
.footer__contact:first-of-type {
  margin-left: 0;
}
.footer__icon {
  margin-right: 4px;
}
.footer__link {
  color: #fff;
  text-decoration: none;
}
.footer__link:hover {
  border-bottom: 1px solid rgba(200, 200, 200, 0.75);
}

/* Адаптивность */
@media (min-width: 200px) and (max-width: 659px) {
  .sect {
    box-sizing: border-box;
    padding: 0 24px;
    width: 100%;
  }
  .welcome {
    background-size: 150%;
    width: 100%;
  }
  .welcome__experience {
    font-size: 48px;
    padding-top: 96px;
  }
  .welcome__work {
    font-size: 32px;
    line-height: 1.1;
  }
  .welcome__avatar {
    bottom: -112px;
  }
  .welcome__avatar__image {
    height: 196px;
  }
  .header {
    margin-top: 80px;
  }
  .header__whoami,
  .header__contacts {
    float: none;
    margin-top: 64px;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .header__whoami__name,
  .header__whoami__description {
    position: relative;
    top: 26px;
  }
  .header__whoami__name {
    font-size: 30px;
    font-weight: 700;
    top: 32px;
  }
  .callback {
    margin-top: 48px;
  }
  .callback__content {
    padding: 0;
  }
  .header__contacts__callme {
    margin-bottom: 12px;
    text-align: center;
  }
  .header__contacts__icons {
    text-align: center;
  }
  .header__contacts__icons__icon:first-of-type {
    margin-left: 0;
  }
}

@media (min-width: 660px) and (max-width: 800px) {
  .sect {
    box-sizing: border-box;
    padding: 0 32px;
    width: 100%;
  }
  .header__whoami__name {
    font-size: 30px;
  }
  .welcome {
    background-size: 150%;
    width: 100%;
  }
  .welcome__avatar {
    bottom: -98px;
  }
  .welcome__avatar__image {
    height: 196px;
  }
  .header__contacts__callme,
  .header__contacts__icons{
    text-align: right;
  }
  .header__contacts__icons__icon:last-child {
    margin-right: 0;
  }
  .callback {
    margin-top: 48px;
  }
}

@media (min-width: 801px) and (max-width: 1059px) {
  .container__divider {
    border-radius: 5px;
    width: 320px;
  }
  .sect {
    box-sizing: border-box;
    padding: 0 32px;
    width: 100%;
  }
  .welcome {
    background-size: 125%;
    width: 100%;
  }
  .welcome__avatar {
    bottom: -128px;
  }
  .welcome__avatar__image {
    height: 256px;
  }
  .header__contacts__callme,
  .header__contacts__icons{
    text-align: right;
  }
  .header__contacts__icons__icon:last-child {
    margin-right: 0;
  }
  .callback {
    margin-top: 48px;
    width: 500px;
  }
}

@media (min-width: 1060px) {
  .container {
    padding: 0;
    width: 960px;
  }
  .container__divider {
    border-radius: 5px;
    width: 320px;
  }
  .sect {
    width: 960px;
  }
  .welcome {
    background-size: 150%;
    background-position-y: center;
    width: 100%;
  }
  .welcome__avatar {
    bottom: -156px;
  }
  .welcome__avatar__image {
    height: 312px;
  }
  .services {
    float: left;
    padding: 0 32px 0 0;
    width: 560px;
  }
  .callback {
    float: right;
    padding: 0 0 0 32px;
    width: 400px;
  }
  .callback__content {
    padding: 0;
  }
}
